<section class="bg1">
    <div class="space1"></div>
    <div class="contentText">

      <div class="title">
        <h1>Galeria 3D</h1>
      </div>
      <p class="myText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim tellus et purus tristique, 
        at interdum eros rutrum. Nullam et ligula at massa pretium efficitur. Vivamus porta tellus urna. 
        Phasellus imperdiet venenatis sapien, sollicitudin vestibulum ante. Pellentesque vel placerat justo.
         Etiam placerat lorem odio, a eleifend lorem dignissim quis. Aliquam vitae pellentesque ipsum. 
         Nam bibendum mattis metus, eu volutpat lectus sodales eu. 
      </p>
      <div class="Logos">

        <div class="techLogo" id="htmlLogo"></div>
        <div class="techLogo" id="cssLogo"></div>
        <div class="techLogo" id="jsLogo"></div>
        <div class="techLogo" id="bootstrapLogo"></div>

      </div>
      <div class="buttons">
        <a href="http://itspa.ct8.pl/" target="_blank">
          <p class="GithubButton"></p>
        </a>
        <a href="http://itspa.ct8.pl/" target="_blank">
          <p class="NetButton" id="SpaButton"></p>
        </a>
      </div>
    </div>
    <div class="space"></div>
   
   <div id="displayText"></div> 
  </section>

  <section class="bg2">
    <div class="contentText">

      <div class="title">
        <h1>Opis</h1>
      </div>
      <p class="myText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim tellus et purus tristique, 
        at interdum eros rutrum. Nullam et ligula at massa pretium efficitur. Vivamus porta tellus urna. 
        Phasellus imperdiet venenatis sapien, sollicitudin vestibulum ante. Pellentesque vel placerat justo.
         Etiam placerat lorem odio, a eleifend lorem dignissim quis. Aliquam vitae pellentesque ipsum. 
         Nam bibendum mattis metus, eu volutpat lectus sodales eu. 
      </p>
      <div class="Logos">

        <div class="techLogo" id="htmlLogo"></div>
        <div class="techLogo" id="cssLogo"></div>
        <div class="techLogo" id="jsLogo"></div>
        <div class="techLogo" id="bootstrapLogo"></div>
        <div class="techLogo" id="mongoDBLogo"></div>

        <div class="techLogo" id="AngularLogo"></div>
        <div class="techLogo" id="expressLogo"></div>
      </div>

      <div class="buttons">
        <a href="http://itspa.ct8.pl/" target="_blank">
          <p class="GithubButton" target="_blank"></p>
        </a>
        <a href="http://listazadan.herokuapp.com/" target="_blank">
          <p class="NetButton" id="ListaButton"></p>
        </a>.
      </div>
    </div>
    <div class="space"></div>
  </section>




<!-- </div> -->

