
<!-- <nav class="nav">
  <span id="logo" class="nav__link"></span>
  <a id="MyWebProjects" href="/" class="nav__link" data-link>O mnie</a>
  <a id="projekty" href="/projekty" class="nav__link" data-link>Projekty</a>
  <a id="kontakt" href="/kontakt" class="nav__link" data-link>Kontakt</a>

</nav> -->
<nav class="nav">
  <a routerLink="/O projekcie" routerLinkActive="active" class="nav__link" data-link>O projekcie</a>
  <a routerLink="/Wykres 3D" routerLinkActive="active" class="nav__link" data-link>Wykres 3D</a>
  <!-- <a routerLink="/three" routerLinkActive="active">Three</a>
  <a [routerLink]="['/four',myOffer]" routerLinkActive="active">Four</a> -->
</nav>
<div id="app">
  <router-outlet></router-outlet>

</div>