
<!-- <div id="app"> -->

    <section class="bg1">
      <div class="space1"></div>
      <div class="contentText">
  
        <div class="title">
          <h1>Wykres 3D</h1>
        </div>
        <p class="myText">
          Z powodów technicznych wykres nie przedstawia aktualnych kursów walut !!! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim tellus et purus tristique, 
          at interdum eros rutrum. Nullam et ligula at massa pretium efficitur. Vivamus porta tellus urna. 
          Phasellus imperdiet venenatis sapien, sollicitudin vestibulum ante. Pellentesque vel placerat justo.
           Etiam placerat lorem odio, a eleifend lorem dignissim quis. Aliquam vitae pellentesque ipsum. 
           Nam bibendum mattis metus, eu volutpat lectus sodales eu. 
           </p>
           <div id="select">
           <label>Wybierz walutę </label>
           <select style="width:200px;" id="s1" (change)='klik(s1.value)' #s1 >
            <ng-container *ngFor="let p of CurrCodesandNames; let i=index;">
                <ng-container *ngIf='p[0] === "CHF"; else else1'>
                    <option value={{p[0]}} selected>{{p[1]}} ({{p[0]}})</option>
                </ng-container>
          
                <ng-template #else1>
            <option value={{p[0]}}>{{p[1]}} ({{p[0]}})</option>
                </ng-template>
          </ng-container>
          </select>
        </div>
        <!-- <div class="Logos">
  
          <div class="techLogo" id="htmlLogo"></div>
          <div class="techLogo" id="cssLogo"></div>
          <div class="techLogo" id="jsLogo"></div>
          <div class="techLogo" id="bootstrapLogo"></div>
  
        </div>
        <div class="buttons">
          <a href="http://itspa.ct8.pl/" target="_blank">
            <p class="GithubButton"></p>
          </a>
          <a href="http://itspa.ct8.pl/" target="_blank">
            <p class="NetButton" id="SpaButton"></p>
          </a>
        </div> -->
        <div id="displayText"></div> 
      </div>
      <!-- <div class="space"></div> -->

     



     
    </section>
  
    <section class="bg2">
      <div class="contentText">
  
        <div class="title">
          <h1></h1>
        </div>
        <p class="myText">
         test 
        </p>
        <div class="Logos">
  
          <div class="techLogo" id="htmlLogo"></div>
          <div class="techLogo" id="cssLogo"></div>
          <div class="techLogo" id="jsLogo"></div>
          <div class="techLogo" id="bootstrapLogo"></div>
          <div class="techLogo" id="mongoDBLogo"></div>
  
          <div class="techLogo" id="AngularLogo"></div>
          <div class="techLogo" id="expressLogo"></div>
        </div>
  
        <div class="buttons">
          <a href="http://itspa.ct8.pl/" target="_blank">
            <p class="GithubButton" target="_blank"></p>
          </a>
          <a href="http://listazadan.herokuapp.com/" target="_blank">
            <p class="NetButton" id="ListaButton"></p>
          </a>.
        </div>
      </div>
      <div class="space"></div>
    </section>

  
  
  
  <!-- </div> -->

