<!-- <div id="app"> -->

<section class="bg1">
  <div class="space1"></div>
  <div class="contentText">

    <div class="title">
      <h1>Projekt Nowatorski</h1>
    </div>
    <p class="myText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim tellus et purus tristique,
      at interdum eros rutrum. Nullam et ligula at massa pretium efficitur. Vivamus porta tellus urna.
      Phasellus imperdiet venenatis sapien, sollicitudin vestibulum ante. Pellentesque vel placerat justo.
      Etiam placerat lorem odio, a eleifend lorem dignissim quis. Aliquam vitae pellentesque ipsum.
      Nam bibendum mattis metus, eu volutpat lectus sodales eu.
    </p>
    <div class="Logos">
      <!-- <div class="techLogo" id="AngularLogo"></div>
      <div class="techLogo" id="htmlLogo"></div>
      <div class="techLogo" id="cssLogo"></div>
      <div class="techLogo" id="jsLogo"></div>
      <div class="techLogo" id="bootstrapLogo"></div> -->

    </div>
    <div class="buttons">
      <a href="http://itspa.ct8.pl/" target="_blank">
        <p class="GithubButton"></p>
      </a>
      <a href="http://itspa.ct8.pl/" target="_blank">
        <p class="NetButton" id="SpaButton"></p>
      </a>
    </div>
  </div>
  <div class="space"></div>
</section>

<section class="bg2">
  <div class="contentText">

    <div class="title">
      <h1>Technologie</h1>
    </div>
    <p class="myText">
      <b>Angular</b> jest frameworkiem napisanym w języku TypeScript. Służy do tworzenia złożonych, 
      nowoczesnych i wydajnych aplikacji działających po stronie klienta. Jest rozwijany przez 
      Google i cieszy się dużym uznaniem projektantów aplikacji ponieważ ułatwia tworzenie 
      poprawnego kodu. Umożliwia sprawne tworzenie zarówno małych stron internetowych,
    jak i w pełni funkcjonalnych aplikacji wykorzystywanych przez duże podmioty gospodarcze. 
      Angular pozwala na stosowanie TypeScriptu, który w porównaniu z JavaScriptem 
      o wiele lepiej spisuje się jako język programowania profesjonalnych aplikacji webowych. 
      Angular daje możliwość korzystania z wielu współczesnych bibliotek, 
      dzięki którym można tworzyć i rozwijać profesjonalne oprogramowanie.


    


    </p>
    <div class="Logos">

      <!-- <div class="techLogo" id="htmlLogo"></div> -->
      <!-- <div class="techLogo" id="cssLogo"></div> -->
      <div class="techLogo" id="jsLogo"></div>
      <div class="techLogo" id="bootstrapLogo"></div>
      <div class="techLogo" id="mongoDBLogo"></div>

      <div class="techLogo" id="AngularLogo"></div>
      <!-- <div class="techLogo" id="expressLogo"></div> -->
    </div>

    <div class="buttons">
      <a href="http://itspa.ct8.pl/" target="_blank">
        <p class="GithubButton" target="_blank"></p>
      </a>
      <a href="http://listazadan.herokuapp.com/" target="_blank">
        <p class="NetButton" id="ListaButton"></p>
      </a>.
    </div>
  </div>
  <div class="space"></div>
</section>
<section class="bg2">
  <div class="contentText">

    <div class="title">
      <h1>HTML</h1>
    </div>
    <p class="myText">
      <b>HTML (ang. HyperText Markup Language, hipertekstowy język znaczników)</b> 
      to język znaczników używany do budowania dokumentów hipertekstowych.
      Pozwala ustrukturyzować informacje zawartewewnątrz strony internetowej, 
      nadając odpowiednie znaczenie semantyczne poszczególnym fragmentom 
      tekstu – formując hiperłącza, akapity, nagłówki, listy a także umieszcza 
      w tekście dokumentu obiekty plikowe, takie jak multimedia, lub elementy 
      baz danych, na przykład interaktywne formularze danych. HTML daje możliwość
       określenia wyglądu dokumentu w przeglądarce internetowej. 


    </p>
    <div class="Logos">

      <div class="techLogo" id="htmlLogo"></div>
      <!-- <div class="techLogo" id="cssLogo"></div> -->
      <div class="techLogo" id="jsLogo"></div>
      <div class="techLogo" id="bootstrapLogo"></div>
      <!-- <div class="techLogo" id="AngularLogo"></div> -->

    </div>
    <div class="buttons">
      <a href="http://itspa.ct8.pl/" target="_blank">
        <p class="GithubButton"></p>
      </a>
      <a href="https://pogoda1.herokuapp.com" target="_blank">
        <p class="NetButton" id="PogodaButton"></p>
      </a>.
    </div>
  </div>
  <div class="space"></div>
</section>


<section class="bg1">
  <div class="contentText">

    <div class="title">
      <h1>CSS</h1>
    </div>
    <p class="myText">
     <b> Kaskadowe arkusze stylów (ang. Cascading Style Sheets, w skrócie CSS) </b> to język służący do opisu 
prezentacji stron WWW. CSS powstał w 1996 r. Arkusz stylów CSS to lista dyrektyw i reguł
określających sposób w jaki ma zostać wyświetlana przez przeglądarkę internetową zawartość określonego
 elementu HTML. Daje to mozliwość określenia elementóœ odpowiedzialnych za prezentację poszczególnych 
 składników internetowych, takich jak rodzina czcionek, kolor tekstu, marginesy, odstęp międzywierszowy 
 lub nawet pozycja danego elementu względem innych elementów bądź okna przeglądarki. 

CSS daje możliwość oddzielenia struktury dokumentu od formy jego prezentacji, co zwiększa zakres 
dostępności witryny oraz ułatwia wprowadzanie zmian w strukturze dokumentu. CSS usprawnia zmiany 
w renderowaniu strony w zależności od wielkości ekranu urządzenia, na któ©ym wyświetlana 
jest strona internetowa. 




    </p>

    <div class="Logos">

      <!-- <div class="techLogo" id="htmlLogo"></div> -->
      <div class="techLogo" id="cssLogo"></div>
      <!-- <div class="techLogo" id="jsLogo"></div>
      <div class="techLogo" id="phpLogo"></div>
      <div class="techLogo" id="mysqlLogo"></div> -->
    </div>
    <div class="buttons">

      <a href="http://sklep_internetowy.ct8.pl" target="_blank">
        <p class="NetButton" id="SklepButton"></p>
      </a>.
    </div>
  </div>
  <div class="space"></div>
</section>
<section class="bg1">
  <div class="contentText">

    <div class="title">
      <h1>Narzędzia</h1>
    </div>
    <p class="myText">
      <b>Git</b> to program służący do kontroli wersji, 
      który powoduje, że praca zespołowa staje się bardziej wydajna. Git został stworzony przez Linusa Torvaldsa i jako 
      taki posłużył mu do prac nad jądrem systemu Linux, okazał się jednak bardzo przydatny również 
      w wielu innych przedsięwzięciach. Git umożliwia tworzenie historii projektu, zarządzanie jego wersjami, przeglądanie 
      wszystkich zmian, a także przywracanie pliku do dowolnej wcześniejszej wersji. 
      Repozytoria Gita można przechowywać na zdalnym repozytorium - GitHub.
      <br>
      <b>Microsoft Visual Studio Code</b> to edytor kodu do nowoczesnego programowania aplikacji. 
Jest to edytor kodu źródłowego, którego można używać z różnymi językami programowania 
i który działa na wielu platformach, takich jak Linux, Windows i macOS. 
    </p>
    <div class="Logos">

      <!-- <div class="techLogo" id="htmlLogo"></div>
      <div class="techLogo" id="cssLogo"></div> -->
      <div class="techLogo" id="jsLogo"></div>
      <div class="techLogo" id="phpLogo"></div>

    </div>
    <div class="buttons">

      <a href="http://zadania.ct8.pl" target="_blank">
        <p class="NetButton" id="ZadaniaButton"></p>
      </a>.
    </div>
  </div>
  <div class="space"></div>
</section>
<!-- </div> -->