
<!-- <div id="app"> -->

    <section class="bg1">
      <div class="space1"></div>
      <div class="contentText">
  
        <div class="title">
          <h1>ITSPA</h1>
        </div>
        <p class="myText">
          Aplikacja dla ośrodka wypoczynkowego dedykowanego informatykom.
          Umożliwia m.in. przeglądanie i dodawanie wybranych zabiegów do koszyka, wybór daty przyjazdu, wyjazdu oraz
          pokoju,
          rejestrację i logowanie użytkownika.
          Niektóre opcje dostępne są tylko dla zalogowanych użytkowników.
          W części beckendowej wykorzystywany jest Json Serwer.
          Aplikacja wykorzystuje ciasteczka i jest responsywna.
        </p>
        <div class="Logos">
  
          <div class="techLogo" id="htmlLogo"></div>
          <div class="techLogo" id="cssLogo"></div>
          <div class="techLogo" id="jsLogo"></div>
          <div class="techLogo" id="bootstrapLogo"></div>
  
        </div>
        <div class="buttons">
          <a href="https://github.com/myWebProjectsPS/ItSpa" target="_blank">
            <p class="GithubButton"></p>
          </a>
          <a href="http://itspa.ct8.pl/" target="_blank">
            <p class="NetButton" id="SpaButton">Live</p>
          </a>
        </div>
      </div>
      <div class="space"></div>
    </section>
  
    <section class="bg2">
      <div class="contentText">
  
        <div class="title">
          <h1>Lista zadań</h1>
        </div>
        <p class="myText">
          Aplikacja typu CRUD, zbudowana przy użyciu stosu MEAN (MongoDB, Express.js, Angular, Node.js).
          Umożliwia tworzenie, edycję i usuwanie zadań do wykonania przez użytkownika.
          Wprowadzone dane są wpisywane do bazy danych MongoDB.
          Aplikacja wykorzystuje ciasteczka i jest responsywna.
  
        </p>
        <div class="Logos">
  
          <div class="techLogo" id="htmlLogo"></div>
          <div class="techLogo" id="cssLogo"></div>
          <div class="techLogo" id="jsLogo"></div>
          <div class="techLogo" id="bootstrapLogo"></div>
          <div class="techLogo" id="mongoDBLogo"></div>
  
          <div class="techLogo" id="AngularLogo"></div>
          <div class="techLogo" id="expressLogo"></div>
        </div>
  
        <div class="buttons">
          <a href="https://github.com/myWebProjectsPS/Lista-zadan" target="_blank">
            <p class="GithubButton" target="_blank"></p>
          </a>
          <a href="http://listazadan.herokuapp.com/" target="_blank">
            <p class="NetButton" id="ListaButton">Live</p>
          </a>.
        </div>
      </div>
      <div class="space"></div>
    </section>
    <section class="bg2"><div class="contentText">
  
        <div class="title">
          <h1>Prognoza pogody</h1>
        </div>
        <p class="myText">
          Aplikacja umożliwia sprawdzanie prognozy podgody dla wybranej miejscowości. Dane pobierane są z API
          udostępnionego przez stronę https://api.openweathermap.org.
          Pobrane dane prezentowane są m. in. na wykresie przy wykorzystaniu bibilioteki Chart.js.
          Aplikacja odpowiednio reaguje na błędne dane i jest responsywna.
  
  
        </p>
        <div class="Logos">
  
          <div class="techLogo" id="htmlLogo"></div>
          <div class="techLogo" id="cssLogo"></div>
          <div class="techLogo" id="jsLogo"></div>
          <div class="techLogo" id="bootstrapLogo"></div>
          <div class="techLogo" id="AngularLogo"></div>
  
        </div>
        <div class="buttons">
          <a href="https://github.com/myWebProjectsPS/Pogoda" target="_blank">
            <p class="GithubButton"></p>
          </a>
          <a href="https://pogoda1.herokuapp.com" target="_blank">
            <p class="NetButton" id="PogodaButton">Live</p>
          </a>.
        </div>
      </div>
      <div class="space"></div>
    </section>
  
  
    <section class="bg1">
      <div class="contentText">
  
        <div class="title">
          <h1>Sklep internetowy</h1>
        </div>
        <p class="myText">
          Implementacja podstawowych elementów sklepu internetowego.
          Aplikacja wykorzystuje bazę danych MySql.
          Pobierane są są również aktualne kursy walut ze strony NBP.
          Projekt zrealizowany w ramach przygotowań do egzaminu na kwalifikację EE.09.
        </p>
  
        <div class="Logos">
  
          <div class="techLogo" id="htmlLogo"></div>
          <div class="techLogo" id="cssLogo"></div>
          <div class="techLogo" id="jsLogo"></div>
          <div class="techLogo" id="phpLogo"></div>
          <div class="techLogo" id="mysqlLogo"></div>
        </div>
        <div class="buttons">
  
          <a href="http://sklep_internetowy.ct8.pl" target="_blank">
            <p class="NetButton" id="SklepButton">Live</p>
          </a>.
        </div>
      </div>
      <div class="space"></div>
    </section>
    <section class="bg1">
      <div class="contentText">
  
        <div class="title">
          <h1>Zadania matematyczne</h1>
        </div>
        <p class="myText">
          Aplikacja rozwiązuje zadania matematyczne takie jak:
          równanie kwadratowe, objętość kuli, itp.
          Projekt zrealizowany w ramach przygotowań do egzaminu na kwalifikację EE.09.
        </p>
        <div class="Logos">
  
          <div class="techLogo" id="htmlLogo"></div>
          <div class="techLogo" id="cssLogo"></div>
          <div class="techLogo" id="jsLogo"></div>
          <div class="techLogo" id="phpLogo"></div>
  
        </div>
        <div class="buttons">
  
          <a href="http://zadania.ct8.pl" target="_blank">
            <p class="NetButton" id="ZadaniaButton">Live</p>
          </a>.
        </div>
      </div>
      <div class="space"></div>
    </section>
  <!-- </div> -->
